<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="za.nwk.Online" version="27" android-versionCode='27'>
  <name>NWK Online</name>
  <description>NWK Online App</description>
  <author href="http://www.nwk.co.za" email="nwkapps@gmail.com">NWK Ltd</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="26"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  <icon src="icon.png"/>
  <access origin="http://www.nwk.co.za" subdomains="true" />
  <access origin="http://www.nwk.co.za:8080" subdomains="true" />
  <allow-navigation href="http://www.nwk.co.za:8080/*" />
  <allow-navigation href="http://www.nwk.co.za/*" />
  <access origin="*" subdomains="true" />
  <allow-navigation href="*" />
</widget>
